<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PedroLuis">
        <activity
            android:name=".teste_spinner"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBMEx9b5FMCHCfNTsvOtz8FqBaXtkjug4s" />

        <activity
            android:name=".TrocaSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".MapaActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmTokenAltDadosActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigEstufaActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UmiArActivity"
            android:exported="false" />
        <activity
            android:name=".TemperaturaActivity"
            android:exported="false" />
        <activity
            android:name=".PhActivity"
            android:exported="false" />
        <activity
            android:name=".LuminosidadeActivity"
            android:exported="false" />
        <activity
            android:name=".MenuUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".AlterarDadosEmailActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmTokenCadastroActivity"
            android:exported="false" />
        <activity
            android:name=".EstufasCadastradasActivity"
            android:exported="false" />
        <activity
            android:name=".MenuEstufaActivity"
            android:exported="false" />
        <activity
            android:name=".AlterarDadosActivity"
            android:exported="false" />
        <activity
            android:name=".AssistenciaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroEstufaActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmTokenAltSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".FornecedoresActivity"
            android:exported="false" />
        <activity
            android:name=".GraficoPhActivity"
            android:exported="false" />
        <activity
            android:name=".GraficoUmiArActivity"
            android:exported="false" />
        <activity
            android:name=".GraficoUmiSoloActivity"
            android:exported="false" />
        <activity
            android:name=".GraficoLumiActivity"
            android:exported="false" />
        <activity
            android:name=".GraficoTempActivity"
            android:exported="false" />
        <activity
            android:name=".UmiSoloActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".QRCodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>